/* Variables and initialization */
:root {
  --black: #121212;
  --white: #fffffc;
  --gradientColor1: #45a247;
  --gradientColor2: #283c86;
  --titleFont: "Poppins", sans-serif;
  --textFont: "Roboto", sans-serif;
  --spacingSmall: 1rem;
  --spacingMedium: 2rem;
  --spacingLarge: 4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--textFont);
  background: var(--white);
  color: var(--black);
}

/* Utility classes */
.bold {
  font-weight: bold;
}

.section {
  padding: var(--spacingSmall);
  min-height: 100vh;
}

.subtitle {
  margin: var(--spacingSmall) 0 var(--spacingMedium);
  font-size: 1.5rem;
  font-family: var(--titleFont);
  text-align: center;
}

/* Background */
.container {
  min-height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(250px);
}

.background {
  position: fixed;
  height: 100vh;
  inset: 0;
  justify-content: center;
  display: flex;
  z-index: -1;
}

.bgShape {
  width: 200vw;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 75%;
  animation: bgAnim 16s infinite;
  flex: none;
  background: var(--gradientColor1); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    var(--gradientColor2),
    var(--gradientColor1)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    var(--gradientColor2),
    var(--gradientColor1)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes bgAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header */
.headerMain {
  padding: var(--spacingLarge) 0 var(--spacingLarge);
  text-align: center;
}

.headerTitle {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.125rem;
  font-family: var(--titleFont);
}

.headerSubtitle {
  margin: var(--spacingSmall) 0;
  font-size: 1.5rem;
}

.globalNav {
  display: flex;
  flex-direction: column;
  gap: var(--spacingSmall);
}

.link {
  text-align: center;
  display: inline-block;
  width: 200px;
  padding: var(--spacingSmall);
  margin: 0 auto;
  border: 2px solid var(--black);
  border-radius: 5px;
}

.btn,
.btnReverse:hover {
  background: var(--black);
  color: var(--white);
  transition: 0.3s ease-out;
}

.btnReverse,
.btn:hover {
  background: transparent;
  color: var(--black);
  transition: 0.3s ease-out;
}

.headerSecond {
  display: flex;
  flex-direction: column;
  gap: var(--spacingSmall);
}

.letter {
  font-variation-settings: "wght" 500, "ital" 0;
  color: var(--gradientColor1);
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: titleAnim;
  transition-timing-function: ease-in-out;
}

@keyframes titleAnim {
  0% {
    color: var(--gradientColor1);
  }

  50% {
    color: var(--gradientColor2);
  }

  100% {
    color: var(--gradientColor1);
  }
}

.letter:nth-child(n) {
  animation-delay: calc(0.1s * var(--i));
}

/* Project Section */
.projectContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacingSmall);
}

.projectCard {
  display: flex;
  flex-direction: column;
  width: clamp(270px, 100%, 600px);
  margin: 0 auto;
  padding: var(--spacingSmall);
  border: 2px solid var(--black);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

.projectTitle {
  font-family: var(--titleFont);
  font-size: 1.2rem;
}

.projectImg {
  margin: var(--spacingSmall) auto;
  width: clamp(170px, 100%, 568px);
  height: auto;
}

.projectDescription {
  margin-bottom: var(--spacingSmall);
}

.projectLink {
  text-align: center;
  display: inline-block;
  padding: calc(var(--spacingSmall) / 2);
  margin: auto auto 0;
  width: 100%;
  border: 2px solid var(--black);
  border-radius: 5px;
}

/* Contact section */
.contactSection {
  min-height: 0;
  padding-bottom: var(--spacingLarge);
}

.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacingSmall);
  margin-top: var(--spacingMedium);
}

.contactLinks li {
  display: inline-block;
  width: clamp(270px, 100%, 400px);
}

.contactBtn {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: var(--spacingSmall);
  margin: 0 auto;
  border: 2px solid var(--black);
  border-radius: 5px;
  background: var(--black);
  color: var(--white);
  transition: 0.3s ease-out;
}

.contactBtn:hover {
  background: transparent;
  color: var(--black);
}

.contactForm {
  width: 100%;
  margin-top: var(--spacingSmall);
  padding: var(--spacingSmall) 0;
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: calc(var(--spacingSmall) / 2);
  }

  label {
    font-size: 0.9rem;
  }

  input,
  textarea {
    width: 100%;
    border: 2px solid var(--black);
    border-radius: 3px;
    padding: 6px 8px;
  }

  textarea {
    resize: none;
    height: 100px;
  }

  input:focus,
  textarea:focus {
    border: 2px solid var(--gradientColor2);
  }

  label:has(+ input:focus),
  label:has(+ textarea:focus) {
    color: var(--gradientColor2);
    font-weight: 600;
  }

  .formBtn {
    margin: 0 auto;
    border: 2px solid var(--black);
    border-radius: 3px;
    margin-top: var(--spacingSmall);
    padding: var(--spacingSmall) var(--spacingMedium);
    transition: 0.3s ease;
    cursor: pointer;
  }

  .formBtn:hover {
    background: var(--black);
    color: var(--white);
  }

  .formBtn:focus {
    color: var(--gradientColor2);
    border: 2px solid var(--gradientColor2);
    font-weight: 600;
  }

  .formMessage {
    text-align: center;
    margin-top: var(--spacingMedium);
  }
}

/* Footer */
.globalFooter {
  padding: var(--spacingMedium);
  color: var(--white);
  background: var(--black);
  text-align: center;
}

/* Responsive */
@media screen and (min-width: 568px) {
  .headerSecond,
  .contactMain,
  .contactForm {
    max-width: 65ch;
    margin: 0 auto;
  }
}

@media screen and (min-width: 850px) {
  .projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projectContainer li {
    flex: 1 1 600px;
    max-width: 600px;
    list-style: none;
  }

  .projectCard {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .globalHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacingLarge);
    padding: 0 var(--spacingLarge);
  }

  .headerSecond {
    padding-right: var(--spacingMedium);
    max-width: 460px;
    margin: 0;
  }

  .contactContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    justify-content: center;
    gap: var(--spacingLarge);
  }

  .contactMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1296px) {
  .contactMain {
    margin-top: -70px;
  }
}
